worker_processes auto;
pid /opt/overpass/run/nginx.pid;
error_log /opt/overpass/log/nginx_error.log;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 768;
}

http {
    sendfile on;
    tcp_nopush on;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log /opt/overpass/log/nginx_access.log;

    client_body_temp_path /opt/overpass/tmp;
    fastcgi_temp_path     /opt/overpass/tmp;
    proxy_temp_path       /opt/overpass/tmp;
    uwsgi_temp_path       /opt/overpass/tmp;
    scgi_temp_path        /opt/overpass/tmp;

    gzip on;

    limit_conn_zone $server_name zone=overpass:10m;
    limit_conn_status 429;

    server {
        listen 8080;

        access_log /opt/overpass/log/nginx_access.log;
        error_log  /opt/overpass/log/nginx_error.log;

        location ~ ^/api/(.*)$ {
            limit_conn overpass ${FCGIWRAP_WORKERS};

            fastcgi_pass unix:/opt/overpass/run/fcgiwrap.socket;
            fastcgi_param SCRIPT_FILENAME /opt/overpass/cgi-bin/$1;
            fastcgi_read_timeout ${NGINX_FASTCGI_TIMEOUT}s;
            send_timeout 60s;
            include fastcgi_params;
        }

        location /liveness {
            add_header Content-Type text/plain;
            return 200 'OK';
        }
    }
}
